<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In [39]:
intro = "In this notebook, Data Science Tools and Ecosystem are summarized."

print(intro)

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

In [40]:
data_science_langs = [1, 2, 3, 'SQL', 'Python', 'R']

print(data_science_langs)

[1, 2, 3, 'SQL', 'Python', 'R']

In [41]:
data_science_libs = [1, 2, 3, 'Pandas', 'Numpy', 'Matplotlib']

print(data_science_libs)

[1, 2, 3, 'Pandas', 'Numpy', 'Matplotlib']

In [42]:
table_content = " Data Science Tools \n ------------------- \n Jupyter Notebooks \n Anaconda \n VS Code \n Git "

print(table_content)

 Data Science Tools
 -------------------
 Jupyter Notebooks
 Anaconda
 VS Code
 Git

In [43]:
import pandas as pd

data = {'Data Science Tools': ['Jupyter Notebooks', 'Anaconda', 'VS', 'Git']}

df = pd.DataFrame(data)

print(df)

  Data Science Tools
0  Jupyter Notebooks
1           Anaconda
2                 VS
3                Git

### Below are a few examples of evaluating arithmetic expressions in Python

In [44]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [45]:
#This a simple arithmetic expression to mutiply then add integers
arith_1 = (3*4)+5
print(arith_1)

17

In [46]:
# This will convert 200 minutes to hours by diving by 60

# converting minutes to hours
minutes = 200
hours = minutes / 60

# displaying the result
print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

**Objectives:**
- List popular languages for ata Science
- List popular data science libraries
- Make some arithmetic calculations

## Author 
Yusuf Muzafarov